<!-- Header Area -->
<header class="header" >
    <!-- Topbar -->
    <div class="topbar">
    <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-5 col-12"></div>
      <div class="col-lg-6 col-md-7 col-12">
        <!-- Top Contact -->
        <ul class="top-contact">
          <li class="font-weight-bold largerFont"><i class="fa fa-phone"></i>+91 9898981845</li>
          <li class="font-weight-bold largerFont"><i class="fa fa-envelope"></i>office&#64;melizzalifescience.com</li>
        </ul>
        <!-- End Top Contact -->
      </div>
    </div>
    </div>
    </div>
    <!-- End Topbar -->
    

    <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-white ">
    <div class="container">
      <!-- Logo -->
      <a class="navbar-brand" routerLink="/">
        <img src="assets/img/melizzalogo.jpg" alt="Logo" style="height: 50px;">
      </a>

      <!-- Toggler -->
      <button class="navbar-toggler" type="button" (click)="isNavCollapsed = !isNavCollapsed">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Collapsible Nav -->
      <div class="collapse navbar-collapse" [class.show]="!isNavCollapsed">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="active" (click)="closeMenu()">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/aboutus" routerLinkActive="active" (click)="closeMenu()">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/products" routerLinkActive="active" (click)="closeMenu()">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contactus" routerLinkActive="active" (click)="closeMenu()">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
    
    </header>
    <!-- End Header Area -->