<!-- Header Area -->
<header class="header" >
    <!-- Topbar -->
    <div class="topbar">
    <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-5 col-12"></div>
      <div class="col-lg-6 col-md-7 col-12">
        <!-- Top Contact -->
        <ul class="top-contact">
          <li class="font-weight-bold largerFont"><i class="fa fa-phone"></i>+91 9898981845</li>
          <li class="font-weight-bold largerFont"><i class="fa fa-envelope"></i>office&#64;melizzalifescience.com</li>
        </ul>
        <!-- End Top Contact -->
      </div>
    </div>
    </div>
    </div>
    <!-- End Topbar -->
    <!-- Header Inner -->
    <div class="header-inner">
    <div class="container">
    <div class="inner">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-12">
          <!-- Start Logo -->
          <div class="logo">
            <a href="#"><img src="assets\img\melizzalogo.jpg" alt="Logo"></a>
          </div>
          <!-- End Logo -->
          <!-- Mobile Nav -->
          <div class="mobile-nav"></div>
          <!-- End Mobile Nav -->
        </div>
        <div class="col-lg-9 col-md-11 col-12">
          <!-- Main Menu -->
          <div class="main-menu">
            <nav class="navigation">
              <ul class="nav menu">
                <li><a routerLink="">Home</a></li>
                <li><a routerLink="aboutus">About us</a></li>
                <li><a routerLink="products">Products</a></li>
                <li><a routerLink="contactus">Contact Us</a></li>
              </ul>
            </nav>
          </div>
          <!--/ End Main Menu -->
        </div>
        <!-- <div class="col-lg-2 col-12">
          <div class="get-quote">
            <a href="#" class="btn">Book Appointment</a>
          </div>
        </div> -->
      </div>
    </div>
    </div>
    </div>
    <!--/ End Header Inner -->
    </header>
    <!-- End Header Area -->