<!-- Start Feautes -->
<section class="Feautes section p-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title mb-0">
                    <h2>Products</h2>
                    <img src="assets/img/section-img.png" alt="#">
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-lg-12 col-12">
                <p class="ml-2 product-title">CARDIAC & DIABETIC PRODUCTS</p>
                <table class="table table-hover mt-2 product-table">
                    <thead>
                        <tr>
                            <th scope="col">Sr no.</th>
                            <th scope="col">Product List</th>
                            <th scope="col">Strength</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Amlodipine + Atenolol Tablet</td>
                            <td>5MG + 50 mg</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Atorvastatin Tablet</td>
                            <td>10 mg, 20 mg</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Glimepiride + Metformin (By Layer) Tablet</td>
                            <td>1mg + 500mg, 2mg + 500mg</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Glimepiride + Pioglitazone + Metformin (By Layer) Tablet</td>
                            <td>1mg + 15mg + 500mg, 2mg + 15mg + 500mg</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>PREGABALIN + NORTRIPTYLINE Tablet</td>
                            <td>75 mg + 10 mg</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Methylcobalamine + Pregabaline Cap. (In Drug)</td>
                            <td>750 Mcg + 75 Mg</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>Rosuvastatin Tablet</td>
                            <td>10mg, 20MG</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>Telmisartan Tablet</td>
                            <td>40mg</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>Telmisartan + AMLODIPINE Tablet</td>
                            <td>40mg + 5mg</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>Telmisartan₄₀ with Hydrochlorlithiazide Tablet</td>
                            <td>12.5 mg</td>
                        </tr>
                    </tbody>
                </table>

                <p class="ml-2 mt-2 product-title">ANTI MALARIAL</p>
                <table class="table table-hover mt-2 product-table">
                    <thead>
                        <tr>
                            <th scope="col">Sr no.</th>
                            <th scope="col">Product List</th>
                            <th scope="col">Strength</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Amlodipine + Atenolol Tablet</td>
                            <td>5MG + 50 mg</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> -->
        <div class="row">
            <div class="col-lg-12 col-12">
                <input type="text" pInputText placeholder="Search product" (input)="onGlobalFilter($event)" style="margin-bottom: 10px; width: 200px; float: right;" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-12">
                <p-treeTable [value]="files" [columns]="cols">
                    <ng-template pTemplate="colgroup" let-columns>
                      <colgroup>
                        <col *ngFor="let col of columns" />
                      </colgroup>
                    </ng-template>
                  
                    <ng-template pTemplate="header" let-columns>
                      <tr>
                        <th *ngFor="let col of columns">
                          {{ col.header }}
                        </th>
                      </tr>
                    </ng-template>
                  
                    <ng-template pTemplate="body" let-rowNode let-columns="columns">
                      <tr>
                        <td *ngFor="let col of columns">
                          <p-treeTableToggler [rowNode]="rowNode" *ngIf="col.field === 'product'"></p-treeTableToggler>
                          <span [innerHTML]="highlight(rowNode.node.data[col.field])"></span>
                        </td>
                      </tr>
                    </ng-template>
                  </p-treeTable>
                  
            </div>
        </div>
    </div>
</section>
<!--/ End Feautes -->